<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div>首页</div>
    <div class="offBox">
        请登录
        <a href="../views/login.html"></a>
    </div>

    <div class="onBox active">
        您好<span class="nickname">xxx</span>
    <a href="../views/self.html">个人中心</a>
</div>
<button>注销登录</button>
</body>
<script src="../js/index.js"></script>
</html>