<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>

    <form>
        <label>
            用户名:
            <input type="text" class="username">
        </label>
        <label>
            密码:
            <input type="text" class="password">
        </label>
        <button>点击登录</button>
    </form>

    <!-- 使用form表单上传文件 -->
    <!-- 此方法有一个缺点，提交完毕后，会跳转后对应的页面 -->
    <!-- <form action="http://localhost/files/avatar" enctype="multipart/form-data" method="post">
        <input multiple type="file" name="avatar">
        <input type="file" name="pic">
        <input multiple type="file" name="bgc">
        <input type="text" name="text1">
        <input type="text" name="text2">
        <button>点击上传</button>
    </form> -->
</body>
<script src="../js/login.js"></script>
</html>